body {
    background-color: #230903; /* Background color */
    align-items: center; /* Center vertically */
    text-align: center; /* Center text */
    margin: 0%;
    font-family: 'Garamond', serif;
}

header {
    display: flex;
    justify-content: flex-start; /* Distribute space between h1 and nav */
    align-items: center; /* Align items vertically centered */
    width: 100%; /* Make sure the header takes up full width */
    position: sticky;  /* Make the header sticky */
    top: 0;            /* Stick the header at the top */
    z-index: 1000;     /* Ensure the header stays above other content */
    background-color: #EEF0F2;
    box-shadow: 0 2vw 4vh rgba(0, 0, 0, 0.2); /* Use vw and vh for shadow */
}

h1 {
    color: #7D6800;
    font-family: 'Lucida Handwriting', cursive !important;
    margin: 2% 0% 2% 0%;
    display: flex;
}

nav {
    display: flex;            /* Enable Flexbox layout */
    margin-left: 40%;
    font-size: large;
    font-weight: 500;
}

nav a {
    color: inherit; /* Inherit the text color from the parent element */
    text-decoration: none; /* Remove the underline */
}

nav a:hover {
    text-decoration: underline;
}

nav ul {
    list-style-type: none; /* Remove default bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex; /* Display items horizontally */
}

nav li {
    margin-right: 25%;       /* Space between menu items */
}
  
  nav li:last-child {
    margin-right: 0%;          /* Remove margin from the last item */
  }
